@import 'bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Pacifico&display=swap');

:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background: image();
}

.card {
  margin: 1rem;
  width: 30rem;
}

h2 {
  font-family: 'Abril Fatface', cursive;
}

.jumbotron {
  background-image: linear-gradient(#4281a4, #ddfff7, rgb(248, 249, 250));
}

.breadcrumb {
  background: rgb(248, 249, 250);
}

.header {
  font-family: 'Abril Fatface', cursive;
}
